{
    "root": true,
    "extends": [
        "airbnb-base",
        "prettier"
    ],
    "plugins": [
        "prettier",
        "import"
    ],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "tabWidth": 4,
                "arrowParens": "always",
                "singleQuote": false,
                "endOfLine": "auto",
                "trailingComma": "none"
            }
        ],
        "no-console": 0,
        "no-param-reassign": 0,
        "no-underscore-dangle": 0,
        "prefer-destructuring": 0,
        "no-inner-declarations": 0,
        "no-unused-expressions": 0,
        "prefer-const": 0,
        "consistent-return": 0,
        "comma-dangle": [
            "error",
            "never"
        ]
    },
    "env": {
        "node": true,
        "es6": true,
        "mocha": true
    }
}